<div{{ attributes }}>
  <div class="solid-colour-block-background " {% if content.field_backgrocolour[0] %} style="background-color: {{ content.field_backgrocolour[0] }}; background-size: cover; background-position: center"  {% endif %} >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ title_prefix }}
          {% if label %}
            <h2{{ title_attributes.addClass('display-4') }}>{{ label }}</h2>
          {% endif %}
          
          {% if content.field_sub_title[0] is not empty %}
            <div class="lead">{{ content.field_sub_title[0] }}</div>
          {% endif %}
          {{ title_suffix }}
          {% if content.body is not empty %}
            <div class="lead">{{ content.body }}</div>
          {% endif %}
          {% if content.field_button[0]['#url'] %}
            <div><a href="{{ content.field_button[0]['#url'] }}" class="btn btn-primary">{{ content.field_button[0]['#title'] }}</a></div>
          {% endif %}
          {% if content.field_se[0]['#url'] %}
            <div><a href="{{ content.field_se[0]['#url'] }}" class="btn btn-primary">{{ content.field_se[0]['#title'] }}</a></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>