
<div{{ attributes.addClass('bg-image-banner-block') }}>
  <div class="jumbotron jumbotron-fluid image-block-background" {% if content.field_background_image['#items'].entity.uri.value %} style="background: url({{ file_url(content.field_background_image['#items'].entity.uri.value) }}); background-size: cover; background-position: center"{% endif %} >
  
  {% if  "TRUE" in content.field_overlay.0 %}
  <div class="overlay"></div>
  {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ title_prefix }}
          {% if label %}
            <h2{{ title_attributes.addClass('display-4') }}>{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
          {% if content.body is not empty %}
            <div class="lead">{{ content.body }}</div>
          {% endif %}
          {% if content.field_button[0]['#url'] %}
            <div><a href="{{ content.field_button[0]['#url'] }}" class="btn btn-primary">{{ content.field_button[0]['#title'] }}</a></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>